html,body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: #00a4d1;
   
}
body{
    background-color: rgb(0, 0, 0);
}
#pageWrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxh{
    text-align: center;
}
.cardbox{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
}
h1{
    text-align: center;
    margin: 0;
}
.h1SmallRes{
    display: none;
}
img{
    width: 20%;
    height: 80%;
    border: 2px solid #008ab1;
}
h2{
    margin: 0;
}

@media (max-width:1024px){
    .h1LargeRes{
        display:none;
    }
    .h1SmallRes{
        display: block;
        text-align: center;
    }
    p{
        font-size: 20px;
        margin: 0
    }
    #firstH1{
        display: none;
    }
}