html,body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: #002E3B;
   
}
body{
    background-color: rgb(31, 98, 185);
}
#pageWrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.boxh{
    height: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.cardbox{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
}
h1{
    text-align: center;
    margin: 0;
}
.h1SmallRes{
    display: none;
}
img{
    width: 20%;
    height: 80%;
}


@media (max-width:767px){
    .h1LargeRes{
        display:none;
    }
    .h1SmallRes{
        display: block;
        text-align: center;
    }
    p{
        font-size: 20px;
        margin: 0
    }
    #firstH1{
        display: none;
    }
    #h2Bottom{
        margin:0;
    }
    .boxh{
        height: fit-content;
    }
    h2{
        margin: 0;
    }
}